/*Layout */

.app-layout {
  padding-left: 15px;
  padding-right: 15px;
}

/* FONT */

@font-face {
  font-family: "crRoundedBold";
  src: local("FCSubjectRoundedBold"),
    url("../fonts/FCSubjectRoundedBold[Non-commercial-use].ttf")
      format("truetype");
}

@font-face {
  font-family: "crRoundedRegular";
  src: local("FCSubjectRoundedRegular"),
    url("../fonts/FCSubjectRoundedRegular[Non-commercial-use].ttf")
      format("truetype");
}

/* TEXT */
.normal-text {
  font-family: "crRoundedRegular";
}

.white-header {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.white-text {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.white-bold {
  font-family: "crRoundedRegular";
  font-style: bold;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.black-header {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.black-text {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.yellow-text {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f6b63b;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ffa800;
  display: inline-block;
  position: absolute;
}

.circle.big {
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  top: 40vh;
  left: 26%;
}

.one {
  top: -60px;
  left: 75px;
}

.two {
  right: -10px;
  top: -30px;
}

.three {
  left: 210px;
  top: 40px;
}

.four {
  left: 210px;
  bottom: 40px;
}

.five {
  bottom: -30px;
  right: -10px;
}

.six {
  left: 70px;
  bottom: -60px;
}

.seven {
  left: -10px;
  bottom: -30px;
}

.eight {
  right: 210px;
  bottom: 40px;
}

.nine {
  right: 210px;
  top: 40px;
}

.ten {
  left: -10px;
  top: -30px;
}
