.app-layout {
  margin-right: 10px;
  margin-left: 10px;
}

/* FONT */

@font-face {
  font-family: "crRoundedBold";
  src: local("FCSubjectRoundedBold"),
    url("../fonts/FCSubjectRoundedBold[Non-commercial-use].ttf")
      format("truetype");
}

@font-face {
  font-family: "crRoundedRegular";
  src: local("FCSubjectRoundedRegular"),
    url("../fonts/FCSubjectRoundedRegular[Non-commercial-use].ttf")
      format("truetype");
}

/* TEXT */
.normal-text {
  font-family: "crRoundedRegular";
}

.white-header {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.white-text {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.black-text {
  font-family: "crRoundedRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
